<mat-card *ngIf="editMode" class="cardWithShadow">
  <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "ball-atom" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
  <mat-card-content class="p-24">
    <mat-card-title class=" b-b-1">
      <div class="row">
        <div class="col-8 col-md-6 title"> 
          <h3>Edit Item</h3>
        </div>
        <div class="col-4 col-md-6 align-end btn-group">
            <button mat-raised-button color="primary" 
              class="m-t-12 m-b-12 m-r-3" 
              [disabled]="!inventoryForm?.valid"
              (click)="saveItem()">Save</button>

            <button mat-raised-button  color="warn" 
              class="m-t-12 m-b-12" 
              (click)="cancelEditInventory()">Cancel</button>
        </div>
      </div>
    </mat-card-title>

  
    <form [formGroup]="inventoryForm"> 
      <div class="row m-t-32">
        <div class="col-md-3">
          <h4 class="w-100">Inventory Info</h4>
        </div>
        <div class="col-md-9">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput type="text" formControlName="name">
            <mat-hint class="error" *ngIf="inventoryForm?.get('name')?.invalid && inventoryForm?.get('name')?.touched">
              *Name is required
            </mat-hint>
          </mat-form-field>
        </div>
      </div> 
      
      <div class="row m-t-12">
        <div class="col-md-3">
          <h4 class="w-100">Description</h4>
        </div>

        <div class="col-md-9">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Description</mat-label>
            <textarea matInput rows="5" formControlName="description"></textarea>
            <mat-hint class="error" *ngIf="inventoryForm?.get('description')?.invalid && inventoryForm?.get('description')?.touched">
              *Description is required
            </mat-hint>
          </mat-form-field>
        </div>
      </div>



      <div class="row m-t-12">
        <div class="col-md-3">
          <h4 class="w-100">Stock Code</h4>
        </div>

        <div class="col-md-9">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Stock Code</mat-label>
            <input matInput type="text" formControlName="stockCode">
            <mat-hint class="error" *ngIf="inventoryForm?.get('stockCode')?.invalid && inventoryForm?.get('stockCode')?.touched">
              *Stock Code is required
            </mat-hint>
          </mat-form-field>
        </div>
      </div>

      <div class="row m-t-12">
        <div class="col-md-3">
          <h4 class="w-100">Quantity</h4>
        </div>

        <div class="col-md-9">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Quantity</mat-label>
            <input matInput type="text" formControlName="quantity">
            <mat-hint class="error" *ngIf="inventoryForm?.get('quantity')?.invalid && inventoryForm?.get('quantity')?.touched">
              *Quantity is required
            </mat-hint>
          </mat-form-field>
        </div>
      </div>

      <div class="row m-t-12">
        <div class="col-md-3">
          <h4 class="w-100">Cost price</h4>
        </div>

        <div class="col-md-4">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Cost Price</mat-label>
            <input matInput type="text" formControlName="costPrice">
            <mat-hint class="error" *ngIf="inventoryForm?.get('costPrice')?.invalid && inventoryForm?.get('costPrice')?.touched">
              *Cost price is required
            </mat-hint>
          </mat-form-field>
        </div>

        <div class="col-md-5">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Selling Price</mat-label>
            <input matInput type="text" formControlName="sellingPrice">
            <mat-hint class="error" *ngIf="inventoryForm?.get('sellingPrice')?.invalid && inventoryForm?.get('costPrice')?.touched">
              *Selling price is required
            </mat-hint>
          </mat-form-field>
        </div>
      </div>

      <div class="row m-t-12">
        <div class="col-md-3">
          <h4 class="w-100">Discount</h4>
        </div>

        <div class="col-md-9">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Discount</mat-label>
            <input matInput type="text" formControlName="discountPrice">
            <mat-hint class="error" *ngIf="inventoryForm?.get('discountPrice')?.invalid && inventoryForm?.get('discount')?.touched">
              *Discount is required
            </mat-hint>
          </mat-form-field>
        </div>
      </div>


      <div class="row m-t-12">
        <div class="col-md-3">
          <h4 class="w-100">VAT</h4>
        </div>

        <div class="col-md-9">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>VAT</mat-label>
            <input matInput type="text" formControlName="VAT">
            <mat-hint class="error" *ngIf="inventoryForm?.get('VAT')?.invalid && inventoryForm?.get('VAT')?.touched">
              *VAT is required
            </mat-hint>
          </mat-form-field>
        </div>
      </div>
    </form> 

  </mat-card-content>
</mat-card>


<mat-card class="cardWithShadow theme-card" *ngIf="!editMode">
  <mat-card-title class="p-24 b-b-1">
    <div class="row">
      <div class="col-md-9 col-sm-6">  
      </div>
      <div class="col-md-3 col-sm-6 align-end">
        <button mat-raised-button color="primary" class="m-t-12 m-b-12" (click)="enableEditMode()">Add New Item</button>
      </div>
    </div>
  </mat-card-title>
</mat-card>


<mat-card class="cardWithShadow theme-card" *ngIf="!editMode && inventoryItems.length < 1">
  <mat-card-content class="p-24 no-items">
    <div class="big-icon m-b-32">
      <img src="assets/images/icons/inventory.png" alt="">
    </div>
    <mat-card-title class="m-b-0">Not items in the inventory</mat-card-title>  
    <p>You have not added items in the inventory</p>
  </mat-card-content>
</mat-card>



<mat-card *ngIf="!editMode && inventoryItems.length > 0" class="cardWithShadow theme-card">
  <mat-card-content class="p-24">
    <mat-card-title class=" b-b-1 p-b-16"> Manage Inventory </mat-card-title>
    
    <div class="table-responsive m-t-16">
      <table mat-table [dataSource]="inventoryItems" class="w-100">
        <!-- ID Column -->
        <ng-container matColumnDef="photo">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="f-w-600 mat-subtitle-1 f-s-14"
          >
            Photo
          </th>
          <td mat-cell *matCellDef="let element">
            <div class="d-flex align-items-center">
              <img
                [src]="element.photo"
                alt="users"
                width="60"
              />
            </div>
          </td>
        </ng-container>

        <!-- name Column --> 
        <ng-container matColumnDef="name">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="f-w-600 mat-subtitle-1 f-s-14"
          >
          Name
          </th>
          <td mat-cell *matCellDef="let element" class="mat-body-1">
            {{ element.name }}  
          </td>
        </ng-container>

        <!-- description Column --> 
        <ng-container matColumnDef="description">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="f-w-600 mat-subtitle-1 f-s-14"
          >
          Description
          </th>
          <td mat-cell *matCellDef="let element" class="mat-body-1">
            {{ element.description }}  
          </td>
        </ng-container>

        <!-- stockCode Column --> 
        <ng-container matColumnDef="stockCode">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="f-w-600 mat-subtitle-1 f-s-14"
          >
          Stock Code
          </th>
          <td mat-cell *matCellDef="let element" class="mat-body-1">
            {{ element.stockCode }}  
          </td>
        </ng-container>

        <!-- quantity Column --> 
        <ng-container matColumnDef="quantity">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="f-w-600 mat-subtitle-1 f-s-14"
          >
          Quantity
          </th>
          <td mat-cell *matCellDef="let element" class="mat-body-1">
            {{ element.quantity }}  
          </td>
        </ng-container>

        <!-- costPrice Column --> 
        <ng-container matColumnDef="costPrice">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="f-w-600 mat-subtitle-1 f-s-14"
          >
          Cost Price
          </th>
          <td mat-cell *matCellDef="let element" class="mat-body-1">
            {{ element.costPrice | currency:'R'}}  
          </td>
        </ng-container>

        <!-- selling price Column --> 
        <ng-container matColumnDef="sellingPrice">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="f-w-600 mat-subtitle-1 f-s-14"
          >
          Selling Price
          </th>
          <td mat-cell *matCellDef="let element" class="mat-body-1">
            {{ element.sellingPrice | currency:'R'}}  
          </td>
        </ng-container>

 

        <!-- Total Price Column --> 
        <ng-container matColumnDef="totalPrice">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="f-w-600 mat-subtitle-1 f-s-14"
          >
          Total Price
          </th>
          <td mat-cell *matCellDef="let element" class="mat-body-1">
            {{ element.quantity * element.costPrice | currency:'R'}}  
          </td>
        </ng-container>

        <!-- Action Column -->
        <ng-container matColumnDef="actionButton">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="f-w-600 mat-subtitle-1 f-s-14"
          > </th>
          <td mat-cell *matCellDef="let element" class="mat-body-1">
            <button color="primary" (click)="editInventoryItemDetails(element)" mat-mini-fab>
              <mat-icon>edit_square</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </mat-card-content>
</mat-card>



 