.customer-edit-mode {
    .tab-min-height {
        min-height: 300px;
    }
     
    .title {
        margin-top: 16px;
    } 

   
}
 
.align-end {
    text-align: right;
}

.cancel-btn {
    margin-left: 10px;
}

.btn-group {
    button {
        width: 120px;
        margin: auto 4px
    }
}