  
.customer-edit-mode {
    .tab-min-height {
        min-height: 300px;
    }
     
    .title {
        margin-top: 16px;
    } 
}
 
.align-end {
    text-align: right;
}

.cancel-btn {
    margin-left: 10px;
}

.btn-group {
    button {
        width: 120px;
        margin: auto 4px
    }
}

.error {
    color: #fa896b;
}

.manage-page {
    background-color: #e0e0e036;
    .mat-mdc-card-header {
        padding: 18px;
    }
     
}

