<ngx-spinner 
  bdColor="rgba(255, 255, 255, 0.9)" 
  size="medium" 
  color="#018c8c" 
  type="ball-atom" 
  class="spinner"
  [fullScreen]="true">
    <p style="color: #018c8c"> Loading... </p>
</ngx-spinner>
<!-- <notifier-container></notifier-container> -->


<div class="blank-layout-container justify-content-center align-items-center bg-light-primary">
  <div
    class="position-relative row w-100 h-100 bg-gredient justify-content-center"
  >
    <div class="col-lg-4 d-flex align-items-center">
      <mat-card class="cardWithShadow boxed-auth">
        <mat-card-content class="p-32">
          <div class="text-center">
            <a [routerLink]="['/dashboard']">
              <img
                src="./assets/images/logos/dark-logo.svg"
                class="align-middle m-2 logo"
                alt="logo"
              />
            </a>
          </div>

        
          <div class="or-border m-t-30">Sign In</div>

          <div class="error-message">
            <p>{{loginError}}</p>
          </div>
          <form  [formGroup]="loginForm" class="m-t-30">
            <mat-form-field class="w-100 m-b-12" appearance="outline">
              <mat-label>Email Address</mat-label>
              <input matInput type="email" formControlName="email">
              <mat-hint class="form-intput-validation-error " *ngIf="loginForm?.get('email')?.invalid && loginForm?.get('email')?.touched">
                *Email address is required
              </mat-hint>
            </mat-form-field>

            <mat-form-field class="w-100 m-b-12" appearance="outline">
              <mat-label>Password</mat-label>
              <input matInput type="password" formControlName="password">
              <mat-hint class="form-intput-validation-error" *ngIf="loginForm?.get('password')?.invalid && loginForm?.get('password')?.touched">
                <span *ngIf="loginForm.get('password')?.errors?.['required']">
                  Password is required.
                </span>
              </mat-hint>
            </mat-form-field>

            <div class="d-flex align-items-center m-b-12">
              <mat-checkbox color="primary">Remember this Device</mat-checkbox>
              <a
                [routerLink]="['/']"
                class="text-primary f-w-600 text-decoration-none m-l-auto f-s-14"
                >Forgot Password ?</a
              >
            </div>
            <a (click)="login()" [disabled]="!loginForm.valid" mat-flat-button color="primary" class="w-100">
              Sign In
            </a>
            <!-- input -->
          </form>
          <span class="d-block f-w-500 text-center m-t-24"
            >New to Flow?
            <a
              [routerLink]="['/authentication/register']"
              class="text-decoration-none text-primary f-w-500 f-s-14"
            >
              Create an account</a
            >
          </span>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
