.customer-edit-mode {
    .tab-min-height {
        min-height: 300px;
    }
     
    .title {
        margin-top: 16px;
    } 

   
}
 
.align-end {
    text-align: right;
}

.cancel-btn {
    margin-left: 10px;
}

.btn-group {
    button {
        width: 150px;
        margin: auto 4px
    }
}

.error {
    color: #fa896b;
}


//Ducplicate code 
.company-document-preview {
    padding: 60px;
    width: 22.4cm;
    height: 29.7cm;  
    position: absolute;
    background-color: #fff;
    .company-from-logo {

        text-align: right;
        img {
            width: 200px;
        }
 
        .banking-details {
            line-height: 1.6;
            p {
                margin: 0;
                padding: 0;

            }
        }
    }

    .clear-white-space {
        height: 180px;
    }

    .qoute-info {
        margin-top: 40px;
        line-height: 1.6;
        text-align: right;
        p {
            padding: 0;
            margin: 0;
        }
    }
 
    .table {
        width: 100%;
        text-align: left;
        thead {
            background-color: #ddd;
            padding-top: 4px;
            padding-bottom: 4px;
            height: 30px;
        }

        th {
            text-align: left;
        }  
    }
}

.company-document {
    padding: 60px;
    width: 22cm;
    height: 29.7cm; 

    position: absolute;
    top: -10000px; //hide from page
 
    .company-from-logo {

        text-align: right;
        img {
            width: 200px;
        }
 
        .banking-details {
            line-height: 1.6;
            p {
                margin: 0;
                padding: 0;

            }
        }
    }

    .clear-white-space {
        height: 260px;
    }

    .qoute-info {
        margin-top: 40px;
        line-height: 1.6;
        text-align: right;
        p {
            padding: 0;
            margin: 0;
        }
    }
 
    .table {
        width: 100%;
        text-align: left;
        thead {
            background-color: #ddd;
            padding-top: 4px;
            padding-bottom: 4px;
            height: 30px;
        }

        th {
            text-align: left;
        }  
    }
}

.address {
    line-height: 1.2;
    p{
        margin: 0;
    }
}
.add-item-btn {
    width: 120px;
    height: 40px;
}

.quote-table {
    img {
        width: 40px;
    }
    
    th, td {
        font-size: 14px;
        width: 200px;
    }
    
    th {
        font-weight: bold;
    }
}


.process-quote {
    .quote-action-menu {
        button {
            padding-left: 20px;
            padding-right: 20px;
        }
    }
}
 
.align-btn-right {
    text-align: right;
}


.no-quotes {
    text-align: center;
    .big-icon img {
        width: 100px;
        height: 100px;
    }
}
