<ngx-spinner 
  bdColor="rgba(255, 255, 255, 0.9)" 
  size="medium" 
  color="#018c8c" 
  type="ball-atom" 
  class="spinner"
  [fullScreen]="true">
    <p style="color: #018c8c"> Loading... </p>
</ngx-spinner>


<div class="row main-wrapper" *ngIf="!isEditQuoteMode && isNewLook">

  <!-- side container  -->
  <div class="side-container col-3">
    <mat-card class="cardWithShadow theme-card">
      <mat-card-title class="p-l-16 b-b-1">
        <h3>Quotes</h3>
      </mat-card-title>
      <mat-form-field class="search-control m-t-4" appearance="outline">
        <input type="text"
          placeholder="Search quote" 
          matInput
          [(ngModel)]="searchText" #searchbar>
        <button matSuffix mat-icon-button aria-label="Clear" (click)="clearFilter()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      <mat-list class="search-bar"> 
        <mat-list>
          <mat-selection-list class="m-b-4 p-0" *ngFor="let quote of quotes | quoteFilter: searchText; let i = index;">
            <mat-list-item class="p-t-12" (click)="activateQuote(quote, i)" [ngClass]="{'active': i == activeIndex}">
              <mat-icon matListItemIcon>folder</mat-icon>
              <p matListItemLine >
                <span class="title">{{quote.company.name}}</span>
                <br>
                <span>{{quote.quoteNo}}</span>
              </p>
            </mat-list-item>
          </mat-selection-list>
        </mat-list>

        <mat-list-item class="no-results" *ngIf="(quotes | quoteFilter: searchText).length === 0">
          <mat-icon mat-list-avatar>error</mat-icon>
          <h3 class="m-0">0 results</h3>
          <div mat-line>No matching quotes</div>
        </mat-list-item>
      </mat-list>

    </mat-card>
  </div>
  

  <!-- main container  -->
  <div class="main-container col-9">
    <div class="controls m-b-12">
      <div class="row">
        <div class="col-9">
          <a (click)="documentAction('edit')" mat-button color="primary" class="btn" *ngIf="!selectedQuote.hasSalesOrder"> 
            <mat-icon>edit</mat-icon>
            Edit Quote
          </a>
          <a  [href]="mailToString" mat-button color="primary" class="btn"> 
              <mat-icon>mail</mat-icon>
              Send via Email
          </a>
          <a (click)="documentAction('download')" mat-button color="primary" class="btn"> 
            <mat-icon>picture_as_pdf</mat-icon>
            Download as PDF
          </a>
          <a (click)="documentAction('gen-sales-order')" mat-button color="primary" class="btn" *ngIf="!selectedQuote.hasSalesOrder"> 
            <mat-icon>receipt_long</mat-icon>
            Generate Sales Order
          </a>
        </div>
        <div class="col-3 create-quote-btn">
          <a (click)="createQuote()" mat-raised-button color="primary" class="btn"> 
            Create New Quote
          </a>
        </div>
      </div>
    </div>

   
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{selectedQuote.company.name}}
          </mat-panel-title>
          <mat-panel-description>
            {{selectedQuote.quoteNo}}
          </mat-panel-description>
          <mat-panel-description>
            {{formatDate(selectedQuote.createdOn)}}
          </mat-panel-description>
        </mat-expansion-panel-header>

        <!-- Quote table Accordion  -->
        <table mat-table [dataSource]="selectedQuote.items" class="quote-table"> 
          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>
        
          <!-- stockCode Column -->
          <ng-container matColumnDef="stockCode">
            <th mat-header-cell *matHeaderCellDef> Stock Code </th>
            <td mat-cell *matCellDef="let element"> {{element.stockCode}} </td>
          </ng-container>
        
          <!-- unitPrice Column -->
          <ng-container matColumnDef="unitPrice">
            <th mat-header-cell *matHeaderCellDef> Unit Price </th>
            <td mat-cell *matCellDef="let element"> {{element.sellingPrice | currency:'R'}} </td>
          </ng-container>

          <!-- quantity Column -->
          <ng-container matColumnDef="quantity">
            <th mat-header-cell *matHeaderCellDef> Quantity </th>
            <td mat-cell *matCellDef="let element"> {{element.quantity }} </td>
          </ng-container>

          <!-- totalPrice Column -->
          <ng-container matColumnDef="totalPrice">
            <th mat-header-cell *matHeaderCellDef> Total Price </th>
            <td mat-cell *matCellDef="let element"> {{ +element.sellingPrice * +element.quantity | currency:'R'}} </td>
          </ng-container>
        
          <tr mat-header-row *matHeaderRowDef="quotePreviewColumnDisplay"></tr>
          <tr mat-row *matRowDef="let row; columns: quotePreviewColumnDisplay;"></tr>
        </table>
      </mat-expansion-panel>
    </mat-accordion>
 

    <mat-card class="cardWithShadow theme-card m-t-16" *ngIf="selectedQuote && isNewLook">
      <!-- Documetn preview  -->
      <div class="ribbon up" *ngIf="selectedQuote.hasSalesOrder" style="--color: #ffae1fcc;">
        <div class="content">Has Sales Order</div>
      </div>
      <app-document-preview [company]="currentCompany" [data]="documentData"></app-document-preview>

    </mat-card>

  </div>
</div>

<!-- Edit Quote New Look -->
<mat-card *ngIf="isEditQuoteMode && isNewLook" class="cardWithShadow">
  <mat-card-content class="p-32">
    <mat-card-title class=" b-b-1">
      <div class="row">
        <div class="col-8 col-md-6 title"> 
          <h3 *ngIf="isEditQuoteMode && isNewLook && isNewQuote">Create New Quote</h3>
          <h3 *ngIf="isEditQuoteMode && isNewLook && !isNewQuote">Edit Quote</h3>
        </div>
        <div class="col-4 col-md-6 align-end btn-group">
            <button mat-raised-button color="primary" 
              class="m-t-12 m-b-12 m-r-3" 
              *ngIf="isEditQuoteMode && isNewLook && isNewQuote"
              [disabled]="!quoteForm?.valid || dynamicArray.length < 1"
              (click)="addOrUpdateQuote()">Create Quote</button>

            <button mat-raised-button color="primary" 
              class="m-t-12 m-b-12 m-r-3" 
              [disabled]="!quoteForm?.valid"
              *ngIf="isEditQuoteMode && isNewLook && !isNewQuote"
              (click)="addOrUpdateQuote(false)">Update Quote</button> 
          <button mat-raised-button  color="warn" class="m-t-12 m-b-12" (click)="cancel()">Cancel</button>
        </div>
      </div>
    </mat-card-title>

  
    <form [formGroup]="quoteForm"> 
      <div class="row m-t-32">
        <div class="col-md-3">
          <h4 class="w-100">Quote Number</h4>
        </div>

        <div class="col-md-9">
           <h3>{{autoGeneratedQuoteNumber}}</h3>
        </div>
      </div>
      
      <div class="row">
        <div class="col-md-3">
          <h4 class="w-100">Customer Name</h4>
        </div>

        <div class="col-md-9">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Customer Name</mat-label>
            <input type="text" matInput  [formControl]="customerFormControl" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
              <mat-option *ngFor="let customer of filteredCustomers | async" [value]="customer"> {{ customer.name }} </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
      </div>
      

      <div class="row">
        <div class="col-md-3">
          <h4 class="w-100">Choose a date</h4>
        </div>
        <div class="col-md-4">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Date from</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="quoteStartDate">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>

        <div class="col-md-5">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Date to</mat-label>
            <input matInput [matDatepicker]="picker2" formControlName="quoteDueDate">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
          </mat-form-field>
        </div>
      </div> 
    </form> 
  </mat-card-content>
</mat-card> 
 
<!-- Edit Inventory form New Look -->
<mat-card *ngIf="isEditQuoteMode && !isPreviewQuoteMode  && isNewLook" class="cardWithShadow inventory-form">
  <mat-card-content class="p-24">
    <mat-card-title class="m-b-0">Add Items</mat-card-title>    
    <form> 
      <div class="row  m-t-32">
        <div class="col-md-9">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Search inventory item</mat-label>
            <input type="text" matInput  [formControl]="inventoryFormControl" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayInventoryFn">
              <mat-option *ngFor="let item of filteredInventoryItems | async" [value]="item"> {{ item.name }} ({{ item.stockCode }})</mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div> 

        <div class="col-md-3">
          <button mat-raised-button  color="primary" 
            class="add-item-btn" 
            [disabled]="!inventoryFormControl.valid || !inventoryFormControl.touched || !inventoryFormControl.value"
            (click)="addNewItem()">Add</button>
        </div>
      </div>

      <table class="inventory-table" *ngIf="dynamicArray.length > 0">
        <thead>
          <tr class="row">
            <td class="col-md-1 w-100"><label>Action</label></td>
            <td class="col-md-2 w-100"><label>Stock Code</label></td>
            <td class="col-md-2 w-100"><label>Name</label></td>
            <td class="col-md-1 w-100"><label>Quantity</label></td>
            <td class="col-md-2 w-100"><label>Unit Price</label></td>
            <td class="col-md-1 w-100"><label>VAT</label></td>
            <td class="col-md-1 w-100"><label>Discount</label></td>
            <td class="col-md-2 w-100"><label>Total</label></td>
          </tr>
        </thead>
        <tbody>
          <tr class="row" *ngFor="let dynamic of dynamicArray; let i = index;">
            <td class="col-md-1 w-100">
                <button mat-mini-fab color="primary" (click)="deleteRow(i)" aria-label="delete icon">
                  <mat-icon>delete</mat-icon>
                </button>
            </td>
            <td class="col-md-2 w-100">
              <input  name="{{dynamic.stockCode}}" [(ngModel)]="dynamic.stockCode"  type="text" />
            </td>
            <td class="col-md-2 w-100">
              <input name="{{dynamic.name}}" [(ngModel)]="dynamic.name"  type="text" />
            </td>
            <td class="col-md-1 w-100">
              <input name="{{dynamic.quantity}}" [(ngModel)]="dynamic.quantity"  type="number"/>
            </td>
            <td class="col-md-2 w-100">
              <input name="{{dynamic.sellingPrice}}" [(ngModel)]="dynamic.sellingPrice"  type="text"/>
            </td>
            <td class="col-md-1 w-100">
              <input name="{{dynamic.discountPrice}}" [(ngModel)]="dynamic.discountPrice"  type="text"/>
            </td> 
            <td class="col-md-1 w-100">
              <input name="{{dynamic.VAT}}" [(ngModel)]="dynamic.VAT"  type="text"/>
            </td> 
            <td class="col-md-2 w-100">
              {{ (+dynamic.quantity * +dynamic.sellingPrice)   | currency:'R' }}
            </td>
          </tr>
        </tbody>
      </table>
    </form>
  </mat-card-content>
</mat-card> 

 
<!-- Preview Mode Control Buttons  -->
<mat-card *ngIf="!isEditQuoteMode && isPreviewQuoteMode" class="process-quote">
  <mat-card-title class="p-24 b-b-1">
    <div class="row">
        <section class="col-9">
          <div class="quote-action-menu">
            <button mat-button color="primary" *ngIf="!selectedQuote.hasSalesOrder" >
              <mat-icon>edit</mat-icon>
              Edit Quote
            </button>

            <a [href]="mailToString" target="_top"
              mat-button color="primary">
              <mat-icon>mail</mat-icon>
              Send via Email
            </a>
            <button mat-button color="primary" (click)="downloadAsPDF()">
              <mat-icon>picture_as_pdf</mat-icon>
              Download as PDF
            </button> 

            <button mat-button color="primary" *ngIf="!selectedQuote.hasSalesOrder" (click)="generateSalesOrder()">
              <mat-icon>receipt_long</mat-icon>
              Generate Sales Order
            </button>
          </div>

        
        </section>

        <div class="col-3 align-btn-right">
          <button mat-raised-button color="primary" (click)="cancel()">Cancel</button>
        </div>
    </div>
  </mat-card-title>
</mat-card>

 
