/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.logo {
    width: 100px;
}

.error-message {
    text-align: center;
    font-size: 14px;
    color: #f43d0c;
    font-weight: 600;
}

.form-intput-validation-error, .error {
    color: #fa896b;
}
.mat-mdc-form-field-hint-wrapper {
    padding: 0;
}

.mat-icon {
    // vertical-align: bottom;
}

.big-icon {
    mat-icon {
        font-size: 55px;
    }
}