/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
 
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; height: 100%; }
.logo {
    width: 100px;
}

.error-message {
    text-align: center;
    font-size: 14px;
    color: #f43d0c;
    font-weight: 600;
}

.form-intput-validation-error, .error {
    color: #fa896b;
}
.mat-mdc-form-field-hint-wrapper {
    padding: 0;
}

.mat-icon {
    // vertical-align: bottom;
}

.big-icon {
    mat-icon {
        font-size: 55px;
    }
}

.highlight {
    color: #ffae1f;
}

.lowlight {
    color: #44b7f7;
}

.highlight , .lowlight {
    text-align: center;
    width: 140px;
    font-weight: 600;
}

.status-badge {
    background-color: #10b0fa;
    color: #FFF;
    width: 22.4cm;
    font-size: 18px;
    font-weight: bold;
    padding: 12px;
    z-index: 99999;
}


//new look


//new look
.main-wrapper {
    .side-container {
        .search-control {
            height: 55px;
            border: 2px solid #018c8c;
            border-radius: 4px;
            width: 95%;
            margin: 0 auto;
        }
        .no-results {
            text-align: center;
            height: 160px;
            mat-icon {
                color: #018c8c;
                font-size: 45px;
                width: 45px;
                height: 45px;
            }
        }
        
        mat-card {
            height: 100%;
        }

        mat-list-item {
            height: 75px;
            .title {
                font-size: 14px;
                font-weight: 600;
                color: #000;
            }
           
            span {
                font-size: 12px;
            }
            &.active {
                background-color: #f3f3f3;
                border-left: 4px solid #018c8c;
                mat-icon {
                    color: #018c8c;
                    margin-right: 16px;
                }
            }
        }
    }

    .main-container {
        .controls {
            height: 46px;
            background-color: #f3f3f3;
            .btn {
                min-width: 100px;
                background-color:#fff;
                color: #018c8c;
                font-weight: 600;
                font-size: 12px;
                height: 36px;
                margin: 4px 4px 0 0;
                border-radius: 4px;
            }
            .btn:first-child {
                margin-left: 5px;
            } 


            .create-quote-btn {
                text-align: right;
                .btn {
                    background-color:#018c8c;
                    color: #fff;
                    border-radius: 4px;
                }
            }
        
        }
       
    }
}

.inventory-table {
    input {
        width: inherit;
        border: none;
        height: 40px;
    }

    th, td {
        border: 1px solid #e5eaef;
        border-radius: 1px;
        height: 50px;
        line-height: 50px;
    }

    td label {
        font-weight: bold;
    }
}

.quote-table {
    img {
        width: 40px;
    }

    th, td {
        font-size: 14px;
        width: 200px;
    }


    th {
        font-weight: bold;
    }
}
 
.search-bar {
    .search-item {
       

    }
}

//   Badge ribbon 
.samples {
    display: flex;
    flex-wrap: wrap;
    max-width: 480px;
}
  
.sample {
    border: 1px solid rgba(white, 0.2);
    width: 128px;
    height: 96px;
    position: relative;
    backdrop-filter: blur(4px);
    background: rgba(white, 0.2);
    box-shadow: 0px 0px 8px 2px rgba(black, 0.2);
    margin-right: 1rem; 
    margin-bottom: 1rem;
  }
  
  .ribbon {
    $default-right: 10px;
    $default-top: -3px;
    $default-color: #2ca7d8;
    $default-width: 32px;
    $default-height: 36px;
    
    position: absolute;
    // right: var(--right, $default-right);
    top: var(--top, $default-top);
    left: 10px;
    
    filter: drop-shadow(2px 3px 2px rgba(black, 0.5));
    
    > .content {
      color: white;
      
      font-size: 1.25rem;
      text-align: center;
      font-weight: 400;
      font-size: 16px;
      background: var(--color, $default-color) linear-gradient(45deg, rgba(black, 0) 0%, rgba(white, 0.25) 100%);
      padding: 8px 2px 4px;
      
      
      clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 100%, 0 100%);
      
      width: var(--width, $default-width);
      min-height: var(--height, $default-height);
      
      transition: clip-path 1s, padding 1s, background 1s;
    }
    
    &.slant-up > .content {
      clip-path: polygon(0 0, 100% 0, 100% calc(100% - 12px), 50% calc(100% - 6px), 0 100%);
    }
    
    &.slant-down > .content {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 50% calc(100% - 6px), 0 calc(100% - 12px));
    }
    
    &.down > .content {
      clip-path: polygon(0 0, 100% 0, 100% calc(100% - 8px), 50% 100%, 0 calc(100% - 8px));
    }
    
    &.up > .content {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 50% calc(100% - 8px), 0 100%);
    }
    
    &.check > .content {
      clip-path: polygon(0 0, 100% 0, 100% calc(100% - 20px), 40% 100%, 0 calc(100% - 12px));
    }

    .content {
        width: 200px;
        height: 50px;
    }
  }
  