<div class="register blank-layout-container justify-content-center align-items-center bg-light-primary">
  <div
    class="position-relative row w-100 h-100 bg-gredient justify-content-center"
  >

    <div class="col-lg-4 d-flex align-items-center">
      <mat-card class="cardWithShadow boxed-auth">
        <mat-card-content class="p-32">
          <div class="text-center">
            <a [routerLink]="['/dashboard']">
              <img
                src="./assets/images/logos/dark-logo.svg"
                class="align-middle m-2 logo"
                alt="logo"
              />
            </a>
          </div>

          <!-- <div class="row m-t-24 custom-row">
            <div class="col-12 col-sm-6">
              <button mat-stroked-button class="w-100">
                <div class="d-flex align-items-center">
                  <img
                    src="/assets/images/svgs/google-icon.svg"
                    alt="google"
                    width="16"
                    class="m-r-8"
                  />
                  Sign in with Google
                </div>
              </button>
            </div>
            <div class="col-12 col-sm-6">
              <button
                mat-stroked-button
                class="w-100 d-flex align-items-center"
              >
                <div class="d-flex align-items-center">
                  <img
                    src="/assets/images/svgs/facebook-icon.svg"
                    alt="facebook"
                    width="40"
                    class="m-r-4"
                  />
                  Sign in with FB
                </div>
              </button>
            </div>
          </div> -->

          <div class="or-border m-t-30">Sign Up</div>
          <div class="error-message">
            <p>{{registrationError}}</p>
          </div>
          <form [formGroup]="sigupForm" class="m-t-30">

            <mat-form-field class="w-100 m-b-12" appearance="outline">
              <mat-label>First Name</mat-label>
              <input matInput type="text" formControlName="firstName">
              <mat-hint class="form-intput-validation-error " *ngIf="sigupForm?.get('firstName')?.invalid && sigupForm?.get('firstName')?.touched">
                *First name is required
              </mat-hint>
            </mat-form-field>

            <mat-form-field class="w-100 m-b-12" appearance="outline">
              <mat-label>Last Name</mat-label>
              <input matInput type="text" formControlName="lastName">
              <mat-hint class="form-intput-validation-error " *ngIf="sigupForm?.get('lastName')?.invalid && sigupForm?.get('lastName')?.touched">
                *Last name is required
              </mat-hint>
            </mat-form-field>

            <mat-form-field class="w-100 m-b-12" appearance="outline">
              <mat-label>Email Address</mat-label>
              <input matInput type="email" formControlName="email">
              <mat-hint class="form-intput-validation-error " *ngIf="sigupForm?.get('email')?.invalid && sigupForm?.get('email')?.touched">
                *Email address is required
              </mat-hint>
            </mat-form-field>

            <mat-form-field class="w-100 m-b-12" appearance="outline">
              <mat-label>Password</mat-label>
              <input matInput type="password"  minlength="6" formControlName="password">
              <mat-hint class="form-intput-validation-error" *ngIf="sigupForm?.get('password')?.invalid && sigupForm?.get('password')?.touched">
                <span *ngIf="sigupForm.get('password')?.errors?.['required']">
                  Password is required.
                </span>
                <span *ngIf="sigupForm.get('password')?.errors?.['minlength']">
                  Password must be at least 6 characters
                </span> 
              </mat-hint>
            </mat-form-field>

            <a (click)="signup()" [disabled]="!sigupForm.valid" mat-flat-button color="primary" class="w-100">
              Create Account
            </a>

            <!-- input -->
          </form>
          <span class="d-block f-w-500 text-center m-t-24"
            >Already have an Account?

            <a
              [routerLink]="['/authentication/login']"
              class="text-decoration-none text-primary f-w-500 f-s-14"
            >
              Sign In</a
            >
          </span>

        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

