<ngx-spinner 
  bdColor="rgba(255, 255, 255, 0.9)" 
  size="medium" 
  color="#018c8c" 
  type="ball-atom" 
  class="spinner"
  [fullScreen]="true">
    <p style="color: #018c8c"> Loading... </p>
</ngx-spinner>
 

<mat-card *ngIf="!editSalesOrderMode" class="cardWithShadow invoice-page">
  <mat-card-content class="p-24 align-center p-t-32 p-b-32" *ngIf="salesOrders.length < 1">
    <div class="big-icon m-b-32">
      <img src="assets/images/icons/invoices.png" alt="">
    </div>
    <mat-card-title class="m-b-0">No sales orders available</mat-card-title>  
    <p class="m-0">You can generate a sales order from the invoice tab</p>
  </mat-card-content>
  <mat-card-content class="p-24" *ngIf="salesOrders.length > 0">
    <mat-card-title class="m-b-0">Sales Order</mat-card-title>    

    <div class="table-responsive m-t-16">
      <table mat-table [dataSource]="salesOrders" class="w-100">
        <!-- salesOrderNo Column -->
        <ng-container matColumnDef="salesOrderNo">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="f-w-600 mat-subtitle-1 f-s-14"
          >
          Sales Order No
          </th>
          <td mat-cell *matCellDef="let element">
             {{element.salesOrderNo}}
          </td>
        </ng-container>

        <!-- salesOrderDate Column -->
        <ng-container matColumnDef="salesOrderDate">
        <th
          mat-header-cell
          *matHeaderCellDef
          class="f-w-600 mat-subtitle-1 f-s-14"
        >
        Sales Order Date
        </th>
        <td mat-cell *matCellDef="let element">
            {{formatDate(element.salesOrderDate)}}
        </td>
        </ng-container>

        <!-- createdBy Column -->
        <ng-container matColumnDef="createdBy">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="f-w-600 mat-subtitle-1 f-s-14"
            >
            Create By
          </th>
          <td mat-cell *matCellDef="let element">
              {{element.createdBy.firstName}} {{element.createdBy.lastName}}
          </td>
        </ng-container>

         

        <!-- Action Column -->
        <ng-container matColumnDef="viewButton">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="f-w-600 mat-subtitle-1 f-s-14"
          > </th>
          <td mat-cell *matCellDef="let element" class="mat-body-1">
            <button color="primary" (click)="manageSalesOrder(element)" mat-mini-fab>
              <mat-icon>edit_document</mat-icon>
            </button>
            
          </td>
        </ng-container>

        <!-- Action Column -->
        <ng-container matColumnDef="shareButton">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="f-w-600 mat-subtitle-1 f-s-14"
          > </th>
          <td mat-cell *matCellDef="let element" class="mat-body-1">
            <button color="primary" (click)="generateSalesOrderDocument(element)" mat-mini-fab>
              <mat-icon>download</mat-icon>
            </button>
            
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </mat-card-content>
</mat-card>


<mat-card *ngIf="editSalesOrderMode" class="process-invoice">
  <mat-card-title class="p-24 b-b-1">
    <div class="row">
        <section class="col-9">
          <div class="invoice-action-menu">
            <a [href]="mailToString" target="_top"
              mat-button color="primary">
              <mat-icon>mail</mat-icon>
              Send via Email
            </a>
            <button mat-button color="primary" (click)="downloadAsPDF()">
              <mat-icon>picture_as_pdf</mat-icon>
              Download Sales Order
            </button>  
            <button mat-button color="primary" (click)="downloadAsPDF()">
              <mat-icon>picture_as_pdf</mat-icon>
              Download Deliver Note
            </button>  
            <button mat-button color="primary" (click)="downloadAsPDF()">
              <mat-icon>picture_as_pdf</mat-icon>
              Download Proof Of Delivery
            </button>  
          </div>
        </section>
        <div class="col-3 align-btn-right">
          <button mat-raised-button color="primary" (click)="cancel()">Cancel</button>
        </div>
    </div>
  </mat-card-title>
</mat-card>

<mat-card *ngIf="activeSalesOrder">

    <!-- PDF Document  -->
    <div id="salesOrderDocument" *ngIf="currentCompany" class="cardWithShadow invoice-document-preview" [ngClass]="{'hide-document': !editSalesOrderMode}">
      <div class="row">
        <div class="col-6 company-from">
          <h2 class="name">
            {{ currentCompany.name }}
          </h2>
  
          <div class="address">
            <p *ngFor='let address of formatAddress(currentCompany.billingAddress)'>
              {{address}}
            </p>
             
            <br>
            <b>Phone:</b>{{ currentCompany.phoneNumber }}<br>
            <b>Email:</b>{{ currentCompany.emailAddress }}<br>
            <b>Website:</b>{{ currentCompany.website }} <br>
            <b>VAT Registration No:</b>{{ currentCompany.VATNumber }}<br>
            <b>Business ID No:</b>{{ currentCompany.registrationNumber }}<br>
            <br>
          </div>
        </div>
  
        <div class="col-6 company-from-logo" >
          <img src="assets/images/logos/matswelapele.png" alt="">
          <div class="banking-details m-t-32">
            <h3>Banking Details</h3>
            <p><b>Bank name: </b>{{ currentCompany.bankDetails.bankName }}</p>
            <p><b>Account No: </b>{{ currentCompany.bankDetails.accountNumber }}</p>
            <p><b>Branch Code: </b>{{ currentCompany.bankDetails.branchCode }}</p>
            <p><b>Reference: </b>{{activeSalesOrder.salesOrderNo}}</p>
          </div>
        </div> 
  
        
      </div>
  
      <hr>
      <!-- Bill To -->
      <h1>Sales Order</h1>
      <h3 class="m-0">Bill to:</h3>
      <div class="row">
        <div class="col-6 company-to">
          <h2 class="name">
            {{activeSalesOrder.customer.name}}
          </h2>
          
          <div class="address" *ngIf="activeSalesOrder?.customer?.billingAddress">
            <p *ngFor='let address of formatAddress(activeSalesOrder.customer.billingAddress)'>
              {{address}}
            </p>
          </div>
          <h4 class="vat-no">VAT No. {{currentCompany.VATNumber}}</h4>
        </div>
  
        <div class="col-6 qoute-info" >
           <p><b>Sales Order No: </b>{{activeSalesOrder.salesOrderNo}}</p>
           <p><b>Date created: </b>{{formatDate(activeSalesOrder.salesOrderDate)}} </p>
           <p><b>Sales Person: </b>{{activeSalesOrder.createdBy?.firstName}} {{activeSalesOrder.createdBy?.lastName}} </p>
           <p><b>Sales Person Phone: </b>{{activeSalesOrder.createdBy?.phone}}  </p>
           <p><b>Sales Person Email: </b>{{activeSalesOrder.createdBy?.email}}  </p>


        </div> 
      </div>
  
      <!-- table  -->
  
      <div class="row">
        <div class="col-12">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col" class="col-3">Name</th>
                <th scope="col" class="col-3">Stock Code</th>
                <th scope="col" class="col-3">Description</th>
                <th scope="col" class="col-1">Qty</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of activeSalesOrder?.quote?.items"> 
                <td class="col-3">{{item.name}}</td> 
                <td class="col-3">{{item.stockCode}}</td> 
                <td class="col-3">{{item.description}}</td> 
                <td class="col-1">{{item.quantity}}</td> 
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="clear-white-space"></div>
      <div class="row">
        <div class="col-6"></div>
        <div class="col-6">
          
  
          <hr>
  
          
        </div>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eos optio quo accusamus ex, qui nostrum delectus iure in quibusdam eligendi molestias modi quaerat odio temporibus, ducimus, dicta cum quidem ea!</p>
      </div>
    </div>
  <!-- PDF Document  -->
</mat-card>
