<ngx-spinner 
  bdColor="rgba(255, 255, 255, 0.9)" 
  size="medium" 
  color="#018c8c" 
  type="ball-atom" 
  class="spinner"
  [fullScreen]="true">
    <p style="color: #018c8c"> Loading... </p>
</ngx-spinner>


<div class="row main-wrapper">
  <!-- side container  -->
  <div class="side-container col-3">
    <mat-card class="cardWithShadow theme-card">
      <mat-card-title class="p-l-16 b-b-1">
        <h3>Quotes</h3>
      </mat-card-title>
      <mat-form-field class="search-control m-t-4" appearance="outline">
        <input type="text"
          placeholder="Search quote" 
          matInput
          [(ngModel)]="searchText" #searchbar>
        <button matSuffix mat-icon-button aria-label="Clear" (click)="clearFilter()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      <mat-list class="search-bar"> 
        <mat-list>
          <mat-selection-list class="m-b-4 p-0" *ngFor="let so of salesOrders | salesOrderFilter: searchText; let i = index;">
            <mat-list-item class="p-t-12" (click)="setSelectedSalesOrder(so, i)" [ngClass]="{'active': i == activeIndex}">
              <mat-icon matListItemIcon>folder</mat-icon>
              <p matListItemLine >
                <span class="title">{{so.customer.name}}</span>
                <br>
                <span>{{so.salesOrderNo}}</span>
              </p>
            </mat-list-item>
          </mat-selection-list>
        </mat-list>

        <mat-list-item class="no-results" *ngIf="(salesOrders | salesOrderFilter: searchText).length === 0">
          <mat-icon mat-list-avatar>error</mat-icon>
          <h3 class="m-0">0 results</h3>
          <div mat-line>No matching sales order</div>
        </mat-list-item>
      </mat-list>

    </mat-card>
  </div>
  

  <!-- main container  -->
  <div class="main-container col-9">
    <div class="controls m-b-12">
      <div class="row">
        <div class="col-9">
          <a (click)="documentAction('edit')" mat-button color="primary" class="btn" *ngIf="!selectedSalesOrder"> 
            <mat-icon>edit</mat-icon>
            Edit Quote
          </a>
          <a  [href]="mailToString" mat-button color="primary" class="btn"> 
              <mat-icon>mail</mat-icon>
              Send via Email
          </a>
          <a (click)="documentAction('download')" mat-button color="primary" class="btn"> 
            <mat-icon>picture_as_pdf</mat-icon>
            Download as PDF
          </a>
          <a (click)="documentAction('gen-sales-order')" mat-button color="primary" class="btn" *ngIf="!selectedSalesOrder"> 
            <mat-icon>receipt_long</mat-icon>
            Generate Sales Order
          </a>
        </div>
        
      </div>
    </div>

   
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{selectedSalesOrder?.customer?.name}}
          </mat-panel-title>
          <mat-panel-description>
            {{selectedSalesOrder?.salesOrderNo}}
          </mat-panel-description>
          <mat-panel-description>
            {{formatDate(selectedSalesOrder?.createdOn)}}
          </mat-panel-description>
        </mat-expansion-panel-header>

        <!-- Quote table Accordion  -->
        <table mat-table [dataSource]="selectedSalesOrder?.quote?.items" class="quote-table"> 
          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>
        
          <!-- stockCode Column -->
          <ng-container matColumnDef="stockCode">
            <th mat-header-cell *matHeaderCellDef> Stock Code </th>
            <td mat-cell *matCellDef="let element"> {{element.stockCode}} </td>
          </ng-container>
        
          <!-- unitPrice Column -->
          <ng-container matColumnDef="unitPrice">
            <th mat-header-cell *matHeaderCellDef> Unit Price </th>
            <td mat-cell *matCellDef="let element"> {{element.sellingPrice | currency:'R'}} </td>
          </ng-container>

          <!-- quantity Column -->
          <ng-container matColumnDef="quantity">
            <th mat-header-cell *matHeaderCellDef> Quantity </th>
            <td mat-cell *matCellDef="let element"> {{element.quantity }} </td>
          </ng-container>

          <!-- totalPrice Column -->
          <ng-container matColumnDef="totalPrice">
            <th mat-header-cell *matHeaderCellDef> Total Price </th>
            <td mat-cell *matCellDef="let element"> {{ +element.sellingPrice * +element.quantity | currency:'R'}} </td>
          </ng-container>
        
          <tr mat-header-row *matHeaderRowDef="salesOrderPreviewColumnDisplay"></tr>
          <tr mat-row *matRowDef="let row; columns: salesOrderPreviewColumnDisplay;"></tr>
        </table>
      </mat-expansion-panel>
    </mat-accordion>
 

    <mat-card class="cardWithShadow theme-card m-t-16" *ngIf="selectedSalesOrder">
      <!-- Documetn preview  -->
      <div class="ribbon up" *ngIf="selectedSalesOrder" style="--color: #ffae1fcc;">
        <div class="content">Has Sales Order</div>
      </div>
      <app-document-preview [company]="currentCompany" [data]="documentData"></app-document-preview>

    </mat-card>

  </div>
</div> 

<!-- Preview Mode Control Buttons  -->
<mat-card class="process-quote">
  <mat-card-title class="p-24 b-b-1">
    <div class="row">
        <section class="col-9">
          <div class="quote-action-menu">
            <a [href]="mailToString" target="_top"
              mat-button color="primary">
              <mat-icon>mail</mat-icon>
              Send via Email
            </a>
            <button mat-button color="primary" (click)="downloadAsPDF()">
              <mat-icon>picture_as_pdf</mat-icon>
              Download as PDF
            </button> 

            <button mat-button color="primary" *ngIf="!selectedSalesOrder">
              <mat-icon>receipt_long</mat-icon>
              Generate Purchase Order
            </button>
          </div>
        </section>
    </div>
  </mat-card-title>
</mat-card>

 