<div>
  <mat-card-content class="p-24">
    <mat-card-title class=" b-b-1">
      <div class="row">
        <div class="col-8 col-md-6 title"> 
          <h3>Edit Customers</h3>
        </div>
        <div class="col-4 col-md-6 align-end btn-group">
            <button mat-raised-button color="primary" 
              class="m-t-12 m-b-12 m-r-3" 
              [disabled]="!customerForm?.valid"
              (click)="addCustomer()">Save</button>
          <button mat-raised-button  color="warn" class="m-t-12 m-b-12" (click)="cancelEditCustomer()">Cancel</button>
        </div>
      </div>
    </mat-card-title>

  
    <form [formGroup]="customerForm"> 
      <div class="row m-t-32">
        <div class="col-md-3">
          <h4 class="w-100">Company Info</h4>
        </div>

        <div class="col-md-5">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Company Name</mat-label>
            <input matInput type="text" formControlName="companyName">
            <mat-hint class="error" *ngIf="customerForm?.get('companyName')?.invalid && customerForm?.get('companyName')?.touched">
              *Company Name is required
            </mat-hint>
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>VAT Number</mat-label>
            <input matInput type="text" formControlName="companyVATNumber">
            <mat-hint class="error" *ngIf="customerForm?.get('companyVATNumber')?.invalid && customerForm?.get('companyVATNumber')?.touched">
              *VAT Number is required
            </mat-hint>
          </mat-form-field>
        </div>
      </div> 

      <div class="row">
        <div class="col-md-3">
          <h4 class="w-100">Contact Person</h4>
        </div> 

        <div class="col-md-2">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Title</mat-label>
            <select matNativeControl required formControlName="contactPersonTitle">
              <option *ngFor="let val of titles" value="{{val}}">{{val}}</option> 
            </select>
            
          </mat-form-field>
        </div> 

        
        <div class="col-md-4">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>First Name</mat-label>
            <input matInput type="text" formControlName="contactPersonFirstName">
            <mat-hint class="error" *ngIf="customerForm?.get('contactPersonFirstName')?.invalid && customerForm?.get('contactPersonFirstName')?.touched">
              *First name is required
            </mat-hint>
          </mat-form-field>
        </div> 

        <div class="col-md-3">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Last Name</mat-label>
            <input matInput type="text" formControlName="contactPersonLastName">
            <mat-hint class="error" *ngIf="customerForm?.get('contactPersonLastName')?.invalid && customerForm?.get('contactPersonLastName')?.touched">
              *Last name is required
            </mat-hint>
          </mat-form-field>
        </div> 
      </div>

      <div class="row">
        <div class="col-md-3">
          <h4 class="w-100">Email Address</h4>
        </div>

        <div class="col-md-9">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Email Address</mat-label>
            <input matInput type="email" formControlName="contactPersonEmail">
            <mat-hint class="error" *ngIf="customerForm?.get('contactPersonEmail')?.invalid && customerForm?.get('contactPersonEmail')?.touched">
              *Email address is required
            </mat-hint>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <h4 class="w-100">Phone Number</h4>
        </div>

        <div class="col-md-9">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Phone Number</mat-label>
            <input matInput type="text" formControlName="contactPersonPhoneNumber">
            <mat-hint class="error" *ngIf="customerForm?.get('contactPersonPhoneNumber')?.invalid && customerForm?.get('contactPersonPhoneNumber')?.touched">
              *Phone number is required
            </mat-hint>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <h4 class="w-100">Company Address</h4>
        </div>

        <div class="col-md-4">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Billing Address</mat-label>
            <textarea matInput rows="5" formControlName="companyBillingAddress"></textarea>
            <mat-hint class="error" *ngIf="customerForm?.get('companyBillingAddress')?.invalid && customerForm?.get('companyBillingAddress')?.touched">
              *Billing address is required
            </mat-hint>
          </mat-form-field>
          <mat-checkbox color="primary" (change)="copyShippingAddress($event.checked)">Shipping address is the same as Biling Address</mat-checkbox>
        </div>

        <div class="col-md-5">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Shipping Address</mat-label>
            <textarea matInput rows="5" formControlName="companyShippingAddress"></textarea>
            <mat-hint class="error" *ngIf="customerForm?.get('companyShippingAddress')?.invalid && customerForm?.get('companyShippingAddress')?.touched">
              *Shipping address is required
            </mat-hint>
          </mat-form-field>
        </div>
      </div>


    </form>



  </mat-card-content>
</div>

 
 